.App {
  display: grid;
  grid-column: auto;
  justify-content: center;
  background-color: rgb(5, 251, 1);
}
#editor{
  grid-template-columns: 2fr 2fr;
  width: 80vw;
  height: 50vh;
  cursor: pointer;
  border: 1px solid #000000;
  background-color: rgb(255, 140, 0);
  padding: 10px;
  text-align: center;
  text-decoration: double;
  font-size: 20px;
}
#preview{
  grid-template-columns: 2fr, 2fr;
  width: 80vw;
  cursor: not-allowed;
  -webkit-text-fill-color: rgb(200, 255, 0);
  text-align: center;
  height: 50vh;
  border: 1px solid #dbf302;
  padding: 10px;
  background-color: #0e11d2;
}